<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>NEWDON</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>客户信息</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>客户管理</a>
                    </li>
                    <li class="active">
                        <strong>客户信息</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>搜索&amp;操作</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="display: block;">
                            <form action="/customer/query" method="post">
                                <div class="row">
                                    <div class="col-sm-2 m-b-xs">
                                        <input id="customerName" name="customerName" placeholder="客户名称"
                                               class="form-control"
                                               type="text" th:value="null"/>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <select name="customerCategory" id="customerCategory" class="form-control">
                                            <option value="" selected="selected">--请选择客户类别--</option>
                                            <option value="合作伙伴" >合作伙伴</option>
                                            <option value="终端客户" >终端客户</option>
                                            <option value="终端用户" >终端用户</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <input id="customerArea" name="customerArea" placeholder="客户地区"
                                               class="form-control"
                                               type="text" th:value="null"/>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <!--<input id="customerIndustry" name="customerIndustry" placeholder="客户行业"
                                               class="form-control"
                                               type="text" th:value="null"/>-->
                                        <select name="customerIndustry" id="customerIndustry" class="form-control">
                                            <option value="" selected="selected">--请选择客户行业--</option>
                                            <option value="传媒" >传媒</option>
                                            <option value="建筑" >建筑</option>
                                            <option value="交通" >交通</option>
                                            <option value="教育" >教育</option>
                                            <option value="金融" >金融</option>
                                            <option value="科技" >科技</option>
                                            <option value="旅游" >旅游</option>
                                            <option value="食品" >食品</option>
                                            <option value="铁路" >铁路</option>
                                            <option value="医疗" >医疗</option>
                                            <option value="政府" >政府</option>
                                            <option value="房地产" >房地产</option>
                                            <option value="互联网" >互联网</option>
                                            <option value="信息技术" >信息技术</option>
                                            <option value="产权交易" >产权交易</option>
                                            <option value="跨国零售" >跨国零售</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <input id="minceIndustry" name="minceIndustry" placeholder="细分行业" class="form-control"
                                               type="text" th:value="null"/>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <input id="industryNature" name="industryNature" placeholder="行业性质" class="form-control"
                                               type="text" th:value="null"/>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <button class="btn btn-primary btn-block" type="submit"><i
                                                class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!--<div class="row">
                                <br/>
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{add}" class="btn btn-white btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增客户&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs">
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>客户列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="7%">序号</th>
                                        <th width="11%">客户名称</th>
                                        <th width="11%">联系人</th>
                                        <th width="11%">联系方式</th>
                                        <th width="11%">客户类别</th>
                                        <th width="11%">客户地区</th>
                                        <th width="11%">客户行业</th>
                                        <th width="11%">细分行业</th>
                                        <th width="11%">行业性质</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="customer : ${customerList}">
                                        <td th:text="${customer.id}">Onions</td>
                                        <td th:text="${customer.customerName}">Onions</td>
                                        <td th:text="${customer.contactPerson}">Onions</td>
                                        <td th:text="${customer.phone}">Onions</td>
                                        <td th:text="${customer.customerCategory}">Onions</td>
                                        <td th:text="${customer.customerArea}">Onions</td>
                                        <td th:text="${customer.customerIndustry}">Onions</td>
                                        <td th:text="${customer.minceIndustry}">Onions</td>
                                        <td th:text="${customer.industryNature}">Onions</td>

                                        <td>
                                            <a th:href="@{'update?id='+${customer.id}+'&amp;pageNum='+${pageNum}}" title="修改"><i
                                                    class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
<!--                                            <a href="#" th:onclick="'javascript:updateState('+${customer.id}+',2,0,'+${customer.customerName}+');'"
                                               title="删除"><i class="fa fa-trash-o text-navy"></i></a>-->
                                            <a href="#" th:onclick="'javascript:updateState('+${customer.id}+',2,0);'" title="删除"><i class="fa fa-trash-o text-navy"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <nav>
                                    <ul class="pagination">
                                        <li th:class="${pageNum==1}?'disabled' : ''"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum - 1}}"
                                                th:text="上一页">上一页</a></li>
                                        <li th:if="${pageNum -3 &gt;=1}"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum -3}}"
                                                th:text="${pageNum -3}">1</a></li>
                                        <li th:if="${pageNum -2 &gt;=1}"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum -2}}"
                                                th:text="${pageNum -2}">1</a></li>
                                        <li th:if="${pageNum -1 &gt;=1}"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum -1}}"
                                                th:text="${pageNum -1}">1</a></li>
                                        <li class="active"><a href="#" th:text="${pageNum}">1</a></li>
                                        <li th:if="${pageNum+1 &lt;=totalPage}"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum+1}}"
                                                th:text="${pageNum +1}">1</a></li>
                                        <li th:if="${pageNum+2 &lt;=totalPage}"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum+2}}"
                                                th:text="${pageNum +2}">1</a></li>
                                        <li th:if="${pageNum+3 &lt;=totalPage}"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum+3}}"
                                                th:text="${pageNum +3}">1</a></li>

                                        <li th:class="${pageNum==totalPage}?'disabled' : ''"><a
                                                th:href="@{'/customer/query?pageNum=' + ${pageNum+1}}"
                                                th:text="下一页">下一页</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前页: <li th:text="${pageNum}">当前页:</li>
             &nbsp;&nbsp;&nbsp;总页数: <li th:text="${totalPage}">总页数:</li>
                                        &nbsp;&nbsp;&nbsp;总条数: <li th:text="${totalSize}">总条数:</li>
                                    </ul>
                                    <br/>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);
    });

    /*<![CDATA[*/
    function updateState(id, state, commendState,customerName) {
        var deleteTag;
        if (state == 2) {
            // deleteTag = confirm("确定删除  "+customerName+"?");
            deleteTag = confirm("确定删除该条信息?");
        } else {
            deleteTag = true;
        }
        if (deleteTag) {
            $.ajax({
                type: "POST",
                url: "deleteById?id=" + id + "&state=" + state + "&commendState=" + commendState,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }

    /*]]>*/
</script>
<script th:inline="javascript">
    var error = [[${error}]];
    $(document).ready(function () {
        if(error!=null){
            swal({
                title : "温馨提示",
                text : error
            });
        }
    });

</script>
</body>

</html>
