<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>MOXI</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />

<!-- Toastr style -->
<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- summernote style -->
<link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet" />

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>客户管理</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>客户管理</a>
			         	</li>
			         	<li>
			             	<a>客户信息</a>
			          	</li>
			          	<li class="active">
			             	<strong>客户修改</strong>
			          	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
        	<div class="wrapper wrapper-content animated fadeInRight">



            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>修改客户</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="/customer/edit" method="POST" class="form-horizontal" enctype="multipart/form-data">

                            	<input type="hidden" name="id" th:value="${customer.id}" />
                                <input type="hidden" name="pageNum" th:value="${pageNum}" />
                                <div class="form-group"><label class="col-sm-2 control-label">客户名称：</label>
                                    <div class="col-sm-10">
                                    	<input id="customerName" name="customerName" type="text" class="form-control" th:value="${customer.customerName}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">联系人：</label>
                                    <div class="col-sm-10">
                                        <input id="contactPerson" name="contactPerson" type="text" class="form-control" th:value="${customer.contactPerson}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">联系方式：</label>
                                    <div class="col-sm-10">
                                        <input id="phone" name="phone" type="text" class="form-control" th:value="${customer.phone}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">客户类别：</label>
                                    <div class="col-sm-10">
                                        <select name="customerCategory" id="customerCategory" class="form-control" >
                                            <option value="合作伙伴" th:selected="${customer.customerCategory=='合作伙伴'}">合作伙伴</option>
                                            <option value="终端客户" th:selected="${customer.customerCategory=='终端客户'}">终端客户</option>
                                            <option value="终端用户" th:selected="${customer.customerCategory=='终端用户'}">终端用户</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">客户地区：</label>
                                    <div class="col-sm-10">
                                        <input id="customerArea" name="customerArea" type="text" class="form-control" th:value="${customer.customerArea}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">客户行业：</label>
                                    <div class="col-sm-10">
                                        <!--<input id="customerIndustry" name="customerIndustry" type="text" class="form-control" th:value="${customer.customerIndustry}"/>-->
                                        <select name="customerIndustry" id="customerIndustry" class="form-control" >
                                            <option value="传媒" th:selected="${customer.customerIndustry=='传媒'}">传媒</option>
                                            <option value="建筑" th:selected="${customer.customerIndustry=='建筑'}">建筑</option>
                                            <option value="交通" th:selected="${customer.customerIndustry=='交通'}">交通</option>
                                            <option value="教育" th:selected="${customer.customerIndustry=='教育'}">教育</option>
                                            <option value="金融" th:selected="${customer.customerIndustry=='金融'}">金融</option>
                                            <option value="科技" th:selected="${customer.customerIndustry=='科技'}">科技</option>
                                            <option value="旅游" th:selected="${customer.customerIndustry=='旅游'}">旅游</option>
                                            <option value="食品" th:selected="${customer.customerIndustry=='食品'}">食品</option>
                                            <option value="铁路" th:selected="${customer.customerIndustry=='铁路'}">铁路</option>
                                            <option value="医疗" th:selected="${customer.customerIndustry=='医疗'}">医疗</option>
                                            <option value="政府" th:selected="${customer.customerIndustry=='政府'}">政府</option>
                                            <option value="房地产" th:selected="${customer.customerIndustry=='房地产'}">房地产</option>
                                            <option value="互联网" th:selected="${customer.customerIndustry=='互联网'}">互联网</option>
                                            <option value="信息技术" th:selected="${customer.customerIndustry=='信息技术'}">信息技术</option>
                                            <option value="产权交易" th:selected="${customer.customerIndustry=='产权交易'}">产权交易</option>
                                            <option value="跨国零售" th:selected="${customer.customerIndustry=='跨国零售'}">跨国零售</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">细分行业：</label>
                                    <div class="col-sm-10">
                                        <!--<input id="minceIndustry" name="minceIndustry" type="text" class="form-control" th:value="${customer.minceIndustry}"/>-->
                                        <select name="minceIndustry" id="minceIndustry" class="form-control" >
                                            <option value="P2P" th:selected="${customer.minceIndustry=='P2P'}">P2P</option>
                                            <option value="安全" th:selected="${customer.minceIndustry=='安全'}">安全</option>
                                            <option value="保险" th:selected="${customer.minceIndustry=='保险'}">保险</option>
                                            <option value="财务" th:selected="${customer.minceIndustry=='财务'}">财务</option>
                                            <option value="电商" th:selected="${customer.minceIndustry=='电商'}">电商</option>
                                            <option value="高校" th:selected="${customer.minceIndustry=='高校'}">高校</option>
                                            <option value="航运" th:selected="${customer.minceIndustry=='航运'}">航运</option>
                                            <option value="环保" th:selected="${customer.minceIndustry=='环保'}">环保</option>
                                            <option value="集成" th:selected="${customer.minceIndustry=='集成'}">集成</option>
                                            <option value="家政" th:selected="${customer.minceIndustry=='家政'}">家政</option>
                                            <option value="检测" th:selected="${customer.minceIndustry=='检测'}">检测</option>
                                            <option value="交通" th:selected="${customer.minceIndustry=='交通'}">交通</option>
                                            <option value="教育" th:selected="${customer.minceIndustry=='教育'}">教育</option>
                                            <option value="酒店" th:selected="${customer.minceIndustry=='酒店'}">酒店</option>
                                            <option value="旅游" th:selected="${customer.minceIndustry=='旅游'}">旅游</option>
                                            <option value="生物" th:selected="${customer.minceIndustry=='生物'}">生物</option>
                                            <option value="物流" th:selected="${customer.minceIndustry=='物流'}">物流</option>
                                            <option value="医疗" th:selected="${customer.minceIndustry=='医疗'}">医疗</option>
                                            <option value="游戏" th:selected="${customer.minceIndustry=='游戏'}">游戏</option>
                                            <option value="园区" th:selected="${customer.minceIndustry=='园区'}">园区</option>
                                            <option value="证券" th:selected="${customer.minceIndustry=='证券'}">证券</option>
                                            <option value="政府" th:selected="${customer.minceIndustry=='政府'}">政府</option>
                                            <option value="云计算" th:selected="${customer.minceIndustry=='云计算'}">云计算</option>
                                            <option value="房地产" th:selected="${customer.minceIndustry=='房地产'}">房地产</option>
                                            <option value="物联网" th:selected="${customer.minceIndustry=='物联网'}">物联网</option>
                                            <option value="大屏幕" th:selected="${customer.minceIndustry=='大屏幕'}">大屏幕</option>
                                            <option value="大数据" th:selected="${customer.minceIndustry=='大数据'}">大数据</option>
                                            <option value="信息资讯" th:selected="${customer.minceIndustry=='信息资讯'}">信息资讯</option>
                                            <option value="食品制造" th:selected="${customer.minceIndustry=='食品制造'}">食品制造</option>
                                            <option value="软件开发" th:selected="${customer.minceIndustry=='软件开发'}">软件开发</option>
                                            <option value="建筑行业" th:selected="${customer.minceIndustry=='建筑行业'}">建筑行业</option>
                                            <option value="产权技术" th:selected="${customer.minceIndustry=='产权技术'}">产权技术</option>
                                            <option value="高职院校" th:selected="${customer.minceIndustry=='高职院校'}">高职院校</option>
                                            <option value="百货/连锁/商超/宠物" th:selected="${customer.minceIndustry=='百货/连锁/商超/宠物'}">百货/连锁/商超/宠物</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">行业性质：</label>
                                    <div class="col-sm-10">
                                        <!--<input id="industryNature" name="industryNature" type="text" class="form-control" th:value="${customer.industryNature}"/>-->
                                        <select name="industryNature" id="industryNature" class="form-control" >
                                            <option value="国企" th:selected="${customer.industryNature=='国企'}">国企</option>
                                            <option value="民企" th:selected="${customer.industryNature=='民企'}">民企</option>
                                            <option value="民营" th:selected="${customer.industryNature=='民营'}">民营</option>
                                            <option value="外企" th:selected="${customer.industryNature=='外企'}">外企</option>
                                            <option value="政府" th:selected="${customer.industryNature=='政府'}">政府</option>
                                            <option value="事业单位" th:selected="${customer.industryNature=='事业单位'}">事业单位</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a id="cancel" class="btn btn-primary" type="button" onclick="javascript:location.replace(this.href);event.returnValue=false;" href="query">&nbsp;&nbsp;&nbsp;&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- Toastr script -->
    <script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

    <!-- common -->
    <script th:src="@{/js/common.js}"></script>

    <!-- SUMMERNOTE -->
    <script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>

    <script th:inline="javascript">
		$(document).ready(function () {
			//提交
			$("#submitButton").click(function(){
				/*if($("#title").val() == ""){
					toastr.error('请输入文章标题','提示');
					return;
				}
				if($("#category").val() == 0){
					toastr.error('请选择文章分类','提示');
					return;
				}
				var markupStr =  $('#summernote').code();
				if(markupStr == ""){
					toastr.error('请填写文章内容','提示');
					return;
				}
				$("#content").val(markupStr);*/
				$("#formTag").submit();
			});
		});
    </script>
    <script th:inline="javascript">
            //取消
            $("#cancel").click(function(){
                window.location.href("/customer/customerList");
            });
    </script>
</body>

</html>
